.card {
    background-color: #F9F9FF; /* Light background for cards */
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
.price-text {
    color: #4B0082; /* Dark purple for price */
    font-weight: bold;
    font-size: 18px;
}
.text-success {
    color: #3CB371; /* Light green for product description */
    font-size: 14px;
}
.icons {
    color: #b587db; /* Purple for unliked */
    cursor: pointer;
}

.red-icons {
    color: #FF0000; /* Red for liked */
    cursor: pointer;
}
/* .clear-btn {
    background-color: #D8BFD8; /* Light lilac */
    /* color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.clear-btn:hover {
    background-color: #B0A0C5; /* Slightly darker lilac on hover */
} */
h5 {
    color: #4B0082; /* Dark purple for headings */
    font-weight: bold;
    margin: 20px 0;
}
.category {
    color: #5C2E91; /* Lighter purple for category links */
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.category:hover {
    color: #4B0082; /* Darker purple on hover */
}
h5.no-results {
    color: #808080; /* Light gray text */
    font-size: 16px;
}
.card img {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Slight shadow for images */
}
.main-content {
    background-color: #ffffff; /* White background for content areas */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Slightly rounded corners */
}
